<footer>
    <nav>
        <a href ="https://webpages.charlotte.edu/amabeny/"> CLT Webpages </a>
        ||
        <a href ="https://github.com/amabeny">Github</a>
        ||
        <a href ="https://amabeny.github.io/">Github.io</a>
        ||
        <a href ="https://amabeny.github.io/itis3135/"> ITIS 3135 Github Pages </a>
        ||
        <a href =" https://www.freecodecamp.org/amabeny"> Freecodecamp</a>
        ||
        <a href ="https://www.codecademy.com/profiles/board2116015973"> Codeacademy </a>
        ||
        <a href ="https://www.linkedin.com/in/atong-ken/">LinkedIn</a>

    </nav>
    <p>Page built by <a href="company/index.html">Adept Koaloa Enterprices </a>&copy; 2023</p>
    <a href="https://validator.w3.org/check?uri=referer">
        <img style="border:0;width:88px;height:31px"
        src="https://upload.wikimedia.org/wikipedia/commons/b/bb/W3C_
        HTML5_certified.png" alt= "Valid HTML!">
        </a>

        <a href="https://jigsaw.w3.org/css-validator/check/referer">
        <img style="border:0;width:88px;height:31px"
        src="https://jigsaw.w3.org/css-validator/images/vcss" alt="Valid
        CSS!">

        </a>
</footer>